<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>NSHealthShareUsageDescription</key>
    <string>我们需要访问你的健康数据来显示步数信息。</string>
    <key>NSHealthUpdateUsageDescription</key>
    <string>我们需要更新你的健康数据来保持信息同步。</string>
</dict>
</plist>
